<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="language" name="%extension-point.name.language" schema="schema/language.exsd"/>
   <extension-point id="buildpathContainerInitializer" name="%extension-point.name.buildpathContainerInitializer" schema="schema/buildpathContainerInitializer.exsd"/>
   <extension-point id="mixin" name="%extension-point.name.mixin" schema="schema/mixin.exsd"/>
   <extension-point id="builder" name="%extension-point.name.builder" schema="schema/builder.exsd"/>
   <extension-point id="projectIndexer" name="%extension-point.name.projectIndexer" schema="schema/projectIndexer.exsd"/>
   <extension-point id="typeEvaluators" name="%extension-point.name.typeEvaluators" schema="schema/goalEvaluators.exsd"/>
   <extension-point id="sourceParsers" name="%extension-point.name.sourceParsers" schema="schema/sourceParsers.exsd"/>
   <extension-point id="sourceElementParsers" name="%extension-point.name.sourceElementParsers" schema="schema/sourceElementParsers.exsd"/>
   <extension-point id="search" name="%extension-point.name.search" schema="schema/search.exsd"/>
   <extension-point id="selectionEngine" name="%extension-point.name.selectionEngine" schema="schema/selectionEngine.exsd"/>
   <extension-point id="completionEngine" name="%extension-point.name.completionEngine" schema="schema/completionEngine.exsd"/>
   <extension-point id="callHierarchy" name="%extension-point.name.callHierarchy" schema="schema/callHierarchy.exsd"/>
   <extension-point id="problemFactory" name="%extension-point.name.problemFactory" schema="schema/problemFactory.exsd"/>
   <extension-point id="environment" name="%extension-point.name.environment" schema="schema/environment.exsd"/>
   <extension-point id="locationResolver" name="%extension-point.name.locationResolver" schema="schema/locationResolver.exsd"/>
   <extension-point id="fileHierarchyResolvers" name="%extension-point.name.fileHierarchyResolvers" schema="schema/fileHierarchyResolvers.exsd"/>
   <extension-point id="buildpathVariableInitializer" name="%extension-point.name.buildpathVariableInitializer" schema="schema/buildpathVariableInitializer.exsd"/>
   <extension-point id="scriptFileConfigurator" name="%extension-point.name.scriptFileConfigurator" schema="schema/scriptFileConfigurator.exsd"/>
   <extension-point id="buildParticipant" name="%extension-point.name.buildParticipant" schema="schema/buildParticipant.exsd"/>
   <extension-point id="fileCache" name="%extension-point.name.fileCache" schema="schema/fileCache.exsd"/>
   <extension-point id="model" name="model" schema="schema/model.exsd"/>
   <extension-point id="contentCacheProvider" name="contentCacheProvider" schema="schema/contentCacheProvider.exsd"/>
   <extension-point id="astCache" name="astCache" schema="schema/astCache.exsd"/>
   <extension-point id="filenameAssociation" name="%extension-point.name.filenameAssociation" schema="schema/filenameAssociation.exsd"/>
   <extension-point id="indexer" name="DLTK Element Indexer" schema="schema/indexer.exsd"/>
   <extension-point id="indexerParticipant" name="DLTK Indexer Participant" schema="schema/indexerPaticipant.exsd"/>
   <extension-point id="loggingOptions" name="DLTK Logging Options" schema="schema/loggingOptions.exsd"/>
   <extension-point id="binaryElementParsers" name="binaryElementParsers" schema="schema/binaryElementParsers.exsd"/>
   <extension-point id="keywords" name="DLTK Language Keywords" schema="schema/keywords.exsd"/>

<!-- =================================================================================== -->
<!-- Extension: DLTK Problem                                                             -->
<!-- =================================================================================== -->
<extension id="problem" point="org.eclipse.core.resources.markers" name="%dltkProblemName">
	<super type="org.eclipse.core.resources.problemmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
	<attribute name="id"/>
	<attribute name="flags"/>
	<attribute name="arguments"/>
	<attribute name="categoryId"/>
</extension>   

<extension
        id="runtime_problem"
        name="%runtimeProblemName"
        point="org.eclipse.core.resources.markers">
     <super type="org.eclipse.core.resources.problemmarker"/>
     <super type="org.eclipse.core.resources.textmarker"/>
     <persistent value="true"/>
  </extension>

<!-- =================================================================================== -->
<!-- Extension: DLTK Buildpath Problem                                                   -->
<!-- =================================================================================== -->
<extension id="buildpath_problem" point="org.eclipse.core.resources.markers" name="%buildPathProblemName">
	<super type="org.eclipse.core.resources.problemmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
	<attribute name ="cycleDetected"/>
	<attribute name="id"/>
	<attribute name="arguments"/>
</extension>   

<!-- =================================================================================== -->
<!-- Extension: Script Transient Problem                                                   -->
<!-- =================================================================================== -->
<extension id="transient_problem" point="org.eclipse.core.resources.markers" name="%transientDLTKProblemName">
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="false"/>
	<attribute name="id"/>
	<attribute name="flags"/>
	<attribute name="arguments"/>
</extension>

<!-- =================================================================================== -->
<!-- Extension: Task                                                                     -->
<!-- =================================================================================== -->
<extension id="task" point="org.eclipse.core.resources.markers" name="%dltkTaskName">
	<super type="org.eclipse.core.resources.taskmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
</extension>

<extension 
	point="org.eclipse.core.resources.builders" 
	id="scriptbuilder"
	name="%scriptBuilderName">
	<builder>
		<run class="org.eclipse.dltk.internal.core.builder.ScriptBuilder">
		</run>
	</builder>
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer class="org.eclipse.dltk.internal.core.DLTKCorePreferenceInitializer"/>
</extension>
<extension
      point="org.eclipse.dltk.core.projectIndexer">
      <projectIndexer
            class="org.eclipse.dltk.internal.core.mixin.MixinProjectIndexer"
            id="org.eclipse.dltk.core.indexer.mixin">
      </projectIndexer>
</extension>
<extension
      point="org.eclipse.dltk.core.buildpathContainerInitializer">
   <buildpathContainerInitializer
         class="org.eclipse.dltk.internal.core.UserLibraryBuildpathContainerInitializer"
         id="org.eclipse.dltk.USER_LIBRARY">
   </buildpathContainerInitializer>
</extension>
<extension
      point="org.eclipse.dltk.core.environment">
   <environment
         class="org.eclipse.dltk.core.internal.environment.LocalEnvironmentProvider"
         id="org.eclipse.dltk.core.localEnvironmentProvider"
         priority="0">
   </environment>
</extension>
   <extension
         point="org.eclipse.dltk.core.builder">
      <builder
            class="org.eclipse.dltk.internal.core.builder.StandardScriptBuilder"
            nature="#">
      </builder>
   </extension>
   <extension point="org.eclipse.dltk.core.fileCache">
      <fileCache
      	class="org.eclipse.dltk.internal.core.FileCacheStub"
      	name="No file caching"
        id="org.eclipse.dltk.core.fileCache.nop">
      </fileCache>
      <fileCache
      	class="org.eclipse.dltk.internal.core.SourceCodeCache"
      	name="Default file caching"
        id="org.eclipse.dltk.core.fileCache.default">
      </fileCache>
   </extension>
   <extension
         point="org.eclipse.dltk.core.projectIndexer">
      <projectIndexer
            class="org.eclipse.dltk.internal.core.structure.StructureProjectIndexer"
            id="org.eclipse.dltk.core.indexer.structure">
      </projectIndexer>
      <projectIndexer
            class="org.eclipse.dltk.core.index2.ProjectIndexer2"
      		id="org.eclipse.dltk.core.indexer.index2">
      </projectIndexer>
      <enable
            indexer="org.eclipse.dltk.core.indexer.structure"
            nature="#">
      </enable>
   </extension>
   <extension
         point="org.eclipse.dltk.core.contentCacheProvider">
      <contentCacheProvider
            class="org.eclipse.dltk.core.caching.ArchiveContentCacheProvider">
      </contentCacheProvider>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.dltk.core.caching.cache.CachePackage"
            genModel="model/cache_model.genmodel"
            uri="http://eclipse.org/dltk/cache_model">
      </package>
   </extension>
   <extension point="org.eclipse.dltk.core.problemFactory">
   <problemIdentifierFactory
         class="org.eclipse.dltk.compiler.problem.DefaultProblemIdentifierFactory"
         namespace="org.eclipse.dltk.compiler.problem.DefaultProblemIdentifier">
   </problemIdentifierFactory>
   </extension>
</plugin>
