<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension-point
		id="scriptEditorContributor"
		name="Task-Focused DLTK Editor Contributor"
		schema="schema/scriptEditorContributor.exsd" />

	<extension
		point="org.eclipse.mylyn.context.core.bridges">
		<structureBridge
			class="org.eclipse.dltk.internal.mylyn.DLTKStructureBridge"
			name="%DLTKStructureBridge.name"
			parentContentType="resource" />
		<structureBridge
			class="org.eclipse.dltk.internal.mylyn.DLTKDebugStructureBridge"
			name="%DLTKDebugStructureBridge.name" />
	</extension>

	<extension
		point="org.eclipse.mylyn.context.ui.bridges">
		<uiBridge
			class="org.eclipse.dltk.internal.mylyn.DLTKUiBridge"
			contentType="java"
			activeSearchIcon="icons/elcl16/edge-ref-java.gif"
			activeSearchLabel="%DLTKUiBridge.activeSearch.label" />
		<preservedFilters
			viewId="org.eclipse.dltk.ui.ScriptExplorer">
			<filter
				class="org.eclipse.dltk.internal.mylyn.DLTKDeclarationsFilter">
			</filter>
			<filter
				class="org.eclipse.dltk.internal.ui.filters.ClosedProjectFilter">
			</filter>
		</preservedFilters>
		<preservedFilters
			viewId="org.eclipse.ui.navigator.ProjectExplorer">
		</preservedFilters>
	</extension>

	<extension
		point="org.eclipse.mylyn.context.ui.startup">
		<startup
			class="org.eclipse.dltk.internal.mylyn.DLTKUiBridgePlugin$DLTKUiBridgeStartup">
		</startup>
	</extension>

	<!--
		==================== Context Editing Common Navigator ====================
	-->

	<extension
		point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding
			viewerId="org.eclipse.mylyn.context.ui.navigator.context">
			<includes>
				<contentExtension
					pattern="org.eclipse.dltk.core.DLTKContent" />
			</includes>
		</viewerContentBinding>
		<viewerContentBinding
			viewerId="org.eclipse.mylyn.context.ui.navigator.context.quick">
			<includes>
				<contentExtension
					pattern="org.eclipse.dltk.core.DLTKContent" />
			</includes>
		</viewerContentBinding>
	</extension>

	<extension
		point="org.eclipse.ui.viewActions">
		<viewContribution
			id="org.eclipse.mylyn.dltk.explorer.contribution"
			targetID="org.eclipse.dltk.ui.ScriptExplorer">
			<action
				class="org.eclipse.dltk.internal.mylyn.actions.FocusPackageExplorerAction"
				disabledIcon="icons/elcl16/focus-disabled.gif"
				enablesFor="*"
				icon="icons/elcl16/focus.gif"
				id="org.eclipse.mylyn.dltk.actions.focus.packageExplorer"
				label="%FocusPackageExplorerAction.label"
				menubarPath="mylyn"
				style="toggle"
				toolbarPath="mylyn"
				tooltip="%FocusPackageExplorerAction.tooltip">
				<enablement>
					<systemProperty
						name="org.eclipse.mylyn.context.core.context.active"
						value="true">
					</systemProperty>
				</enablement>
			</action>
		</viewContribution>

		<viewContribution
			id="org.eclipse.mylyn.ui.views.active.search.contribution"
			targetID="org.eclipse.mylyn.ui.views.active.search">
		</viewContribution>

		<viewContribution
			id="org.eclipse.dltk.mylyn.markers.breakpoints.contribution"
			targetID="org.eclipse.debug.ui.BreakpointView">
			<action
				class="org.eclipse.dltk.internal.mylyn.actions.FocusBreakpointsViewAction"
				disabledIcon="icons/elcl16/focus-disabled.gif"
				enablesFor="*"
				icon="icons/elcl16/focus.gif"
				id="org.eclipse.dltk.mylyn.actions.focus.markers.breakpoints"
				label="%FocusBreakpointsViewAction.label"
				menubarPath="mylyn"
				style="toggle"
				toolbarPath="mylyn"
				tooltip="%FocusBreakpointsViewAction.tooltip">
			</action>
		</viewContribution>

		<viewContribution
			id="org.eclipse.mylyn.ui.debug.view.contribution"
			targetID="org.eclipse.debug.ui.DebugView">
			<action
				class="org.eclipse.dltk.internal.mylyn.actions.FocusDebugViewAction"
				disabledIcon="icons/elcl16/focus-disabled.gif"
				enablesFor="*"
				icon="icons/elcl16/focus.gif"
				id="org.eclipse.mylyn.ui.actions.FilterResourceNavigatorAction"
				label="%FocusDebugViewAction.label"
				menubarPath="mylyn"
				style="toggle"
				toolbarPath="mylyn"
				tooltip="%FocusDebugViewAction.tooltip">
				<enablement>
					<systemProperty
						name="org.eclipse.mylyn.context.core.context.active"
						value="true">
					</systemProperty>
				</enablement>
			</action>
		</viewContribution>
	</extension>


	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			adaptable="false"
			id="org.eclipse.dltk.mylyn.interest.increase.contribution"
			objectClass="org.eclipse.dltk.core.IModelElement">
			<action
				class="org.eclipse.mylyn.internal.context.ui.actions.InterestIncrementAction"
				definitionId="org.eclipse.mylyn.context.ui.commands.interest.increment"
				enablesFor="*"
				icon="icons/elcl16/interest-increase.gif"
				id="org.eclipse.dltk.mylyn.interest.increase.element"
				label="%InterestIncrementAction.label"
				menubarPath="group.reorganize"
				tooltip="%InterestIncrementAction.tooltip">
			</action>
			<visibility>
				<and>
					<systemProperty
						name="org.eclipse.mylyn.context.core.context.active"
						value="true">
					</systemProperty>
					<objectClass
						name="org.eclipse.dltk.core.IMember">
					</objectClass>
				</and>
			</visibility>
		</objectContribution>
		<objectContribution
			adaptable="false"
			id="org.eclipse.dltk.mylyn.interest.remove.contribution.elements"
			objectClass="org.eclipse.dltk.core.IModelElement">
			<action
				class="org.eclipse.mylyn.internal.context.ui.actions.InterestDecrementAction"
				definitionId="org.eclipse.mylyn.context.ui.commands.interest.decrement"
				enablesFor="*"
				icon="icons/elcl16/interest-decrease.gif"
				id="org.eclipse.dltk.mylyn.interest.remove.element"
				label="%InterestDecrementAction.label"
				menubarPath="group.reorganize"
				tooltip="%InterestDecrementAction.tooltip">
			</action>
			<visibility>
				<and>
					<systemProperty
						name="org.eclipse.mylyn.context.core.context.active"
						value="true">
					</systemProperty>
					<or>
						<objectClass
							name="org.eclipse.dltk.core.IMethod">
						</objectClass>
						<objectClass
							name="org.eclipse.dltk.core.IField">
						</objectClass>
						<objectClass
							name="org.eclipse.dltk.internal.core.ProjectFragment">
						</objectClass>
					</or>
				</and>
			</visibility>
		</objectContribution>
		<viewerContribution
			id="org.eclipse.mylyn.context.ui.browse.filtered.contribution"
			targetID="org.eclipse.dltk.ui.ScriptExplorer">
			<action
				class="org.eclipse.dltk.internal.mylyn.actions.ShowFilteredChildrenAction"
				enablesFor="1"
				icon="icons/etool16/browse-filtered.gif"
				id="org.eclipse.dltk.mylyn.action.browse.filtered"
				label="%ShowFilteredChildrenAction.label"
				menubarPath="group.reorganize">
			</action>
			<visibility>
				<systemProperty
					name="org.eclipse.mylyn.context.core.context.active"
					value="true">
				</systemProperty>
			</visibility>
		</viewerContribution>
	</extension>

	<extension
		point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.eclipse.mylyn.dltk.actionSet"
			label="%actionSet.label"
			visible="false">
			<action
				class="org.eclipse.dltk.internal.mylyn.actions.ToggleActiveFoldingAction"
				definitionId="org.eclipse.dltk.mylyn.editor.folding.auto"
				icon="icons/elcl16/interest-folding.gif"
				id="org.eclipse.dltk.mylyn.editor.folding.auto"
				label="%ToggleActiveFoldingAction.label"
				style="toggle"
				toolbarPath="org.eclipse.ui.edit.text.actionSet.presentation/Presentation"
				tooltip="%ToggleActiveFoldingAction.tooltip">
			</action>
			<!--
				<action definitionId="org.eclipse.dltk.mylyn.search.context" label="Search the current task context"
				class="org.eclipse.mylyn.internal.sandbox.ui.actions.FindReferencesInContextAction"
				id="org.eclipse.dltk.mylyn.search.context"> </action>
			-->
		</actionSet>
	</extension>

	<extension
		point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.mylyn.dltk.actionSet">
			<part
				id="org.eclipse.dltk.ruby.ui.editor.RubyEditor">
			</part>
			<part
				id="org.eclipse.dltk.tcl.ui.editor.TclEditor">
			</part>
			<part
				id="org.eclipse.dltk.python.ui.editor.PythonEditor">
			</part>
			<part
				id="org.eclipse.dltk.javascript.ui.editor.JavaScriptEditor">
			</part>
		</actionSetPartAssociation>
	</extension>

	<extension
		point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.eclipse.mylyn.dltk.actionSet.browsing"
			label="%actionSet.browsing.label"
			visible="false">
			<action
				class="org.eclipse.dltk.internal.mylyn.actions.FocusBrowsingPerspectiveAction"
				id="org.eclipse.dltk.mylyn.actions.ApplyMylynToBrowsingPerspectiveAction"
				style="toggle"
				label="%FocusBrowsingPerspectiveAction.label"
				icon="icons/elcl16/focus-browsing.gif"
				tooltip="%FocusBrowsingPerspectiveAction.tooltip"
				toolbarPath="mylyn"
				enablesFor="*">
			</action>
		</actionSet>
	</extension>

	<extension
		point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.mylyn.dltk.actionSet.browsing">
			<part
				id="org.eclipse.dltk.ui.browsing.MembersView" />
			<part
				id="org.eclipse.dltk.ui.browsing.PackagesView" />
			<part
				id="org.eclipse.dltk.ui.browsing.TypesView" />
		</actionSetPartAssociation>
	</extension>

	<extension
		point="org.eclipse.dltk.ui.dltkElementFilters">
		<filter
			targetId="org.eclipse.dltk.ScriptExplorer"
			name="%DLTKDeclarationsFilter.name"
			enabled="false"
			description="%DLTKDeclarationsFilter.description"
			class="org.eclipse.dltk.internal.mylyn.DLTKDeclarationsFilter"
			id="org.eclipse.dltk.mylyn.MembersFilter">
		</filter>
	</extension>

	<extension
		point="org.eclipse.ui.commands">
		<category
			name="%commands.category.name"
			description="%commands.category.description"
			id="org.eclipse.dltk.mylyn.commands">
		</category>
		<command
			categoryId="org.eclipse.dltk.mylyn.commands"
			description="%command.folding.auto.description"
			id="org.eclipse.dltk.mylyn.editor.folding.auto"
			name="%command.folding.auto.name">
		</command>
	</extension>

</plugin>
