<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="validatorConfigPage" name="%extension-point.name.validatorConfigPage" schema="schema/validatorConfigPage.exsd"/>
   <extension-point id="validatorConsoleTracker" name="%extension-point.name.validatorConsoleTracker" schema="schema/validatorConsoleTracker.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.dltk.preferences"
            class="org.eclipse.dltk.validators.internal.ui.ValidatorPreferencePage"
            id="org.eclipse.dltk.preferences.validators"
            name="%page.name.validators">
      </page>
      <!--page
            category="org.eclipse.dltk.preferences.validators"
            class="org.eclipse.dltk.validators.internal.ui.externalchecker.ExternalCheckerRulesPreferencePage"
            id="org.eclipse.dltk.validators.ui.externalchecker"
            name="External Checker rules">
      </page-->
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.dltk.validators.ui.contribution"
            nameFilter="*"
            objectClass="org.eclipse.dltk.core.IModelElement">
         <menu
               id="org.eclipse.dltk.validators.ui.menu"
               label="%menu.label.dltkValidators"
               path="additions">
            <groupMarker name="bottom"/>
         </menu>
         <action
            class="org.eclipse.dltk.validators.internal.ui.popup.actions.DLTKValidatorsModelElementAction"
            id="org.eclipse.dltk.validators.ui.menu"
            label="%menu.label.dltkValidators">
         </action>
         <visibility>
            <objectState
                  name="org.eclipse.dltk.validators.ui.visibility"
                  value="true">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.eclipse.dltk.validators.internal.ui.ValidatorsConsolePageParticipant"
            id="org.eclipse.dltk.validators.ui.validatorsConsolePageParticipant">
         <enablement>
         	<and>
         		<instanceof value="org.eclipse.dltk.validators.internal.ui.ValidatorConsole"/>
				<test
					property="org.eclipse.ui.console.consoleTypeTest"
					value="org.eclipse.dltk.validators.ConsoleValidatorOutput" />
				<!-- value of org.eclipse.dltk.validators.internal.ui.ValidatorConsole.TYPE -->
         	</and>
         </enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.actionFilterTester">
      <actionFilterTester
            class="org.eclipse.dltk.validators.internal.ui.ValidatorsVisibilityTester"
            id="org.eclipse.dltk.validators.ui.visibility">
      </actionFilterTester>
   </extension>

</plugin>
