<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="validator" name="%extension-point.name.validator" schema="schema/validator.exsd"/>
   <extension-point id="buildParticipant" name="%extension-point.name.buildParticipant" schema="schema/buildParticipant.exsd"/>
   <extension
         point="org.eclipse.dltk.core.builder">
      <builder
            class="org.eclipse.dltk.validators.internal.core.ValidatorBuilder"
            nature="#">
      </builder>
   </extension>
   <extension
         point="org.eclipse.dltk.core.structureBuilder">
      <structureBuilder
            class="org.eclipse.dltk.validators.internal.core.ValidatorStructureBuilder"
            nature="#">
      </structureBuilder>
   </extension>
</plugin>
