<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="validator" name="%extension-point.name.validator" schema="schema/validator.exsd"/>
   <extension
         point="org.eclipse.dltk.core.builder">
      <builder
            class="org.eclipse.dltk.validators.internal.core.ValidatorBuilder"
            nature="#">
      </builder>
   </extension>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
            uri="http://www.eclipse.org/dltk/validators"
            class="org.eclipse.dltk.validators.configs.ValidatorsPackage"
            genModel="models/validators.genmodel"/>
	</extension>
</plugin>
