<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<!-- Extension point definitions -->
   <extension-point id="buildpathProviders" name="%extension-point.name.buildpathProviders" schema="schema/buildpathProviders.exsd"/>
   <extension-point id="runtimeBuildpathEntryResolvers" name="%extension-point.name.runtimeBuildpathEntryResolvers" schema="schema/runtimeBuildpathEntryResolvers.exsd"/>
   <extension-point id="runtimeBuildpathEntries" name="%extension-point.name.runtimeBuildpathEntries" schema="schema/runtimeBuildpathEntries.exsd"/>
   <extension-point id="interpreterInstallTypes" name="%extension-point.name.interpreterInstallTypes" schema="schema/interpreterInstallTypes.exsd"/>
   <extension-point id="interpreterInstalls" name="%extension-point.name.interpreterInstalls" schema="schema/interpreterInstalls.exsd"/>
   <extension-point id="debuggingEngine" name="%extension-point.name.debuggingEngine" schema="schema/debuggingEngine.exsd"/>
   <extension-point id="launchStatusHandler" name="%extension-point.name.launchStatusHandler" schema="schema/launchStatusHandler.exsd"/>
   <extension-point id="interpreterContainerExtension" name="%extension-point.name.interpreterContainerExtension" schema="schema/interpreterContainerExtension.exsd"/>

  <extension
        point="org.eclipse.dltk.launching.runtimeBuildpathEntryResolvers">
     <runtimeBuildpathEntryResolver
           class="org.eclipse.dltk.internal.launching.InterpreterRuntimeBuildpathEntryResolver"
           container="org.eclipse.dltk.launching.INTERPRETER_CONTAINER"
           id="org.eclipse.dltk.launching.runtimeBuildpathEntryResolver1"/>
  </extension>
  <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.dltk.internal.launching.DLTKLaunchableTester"
            id="org.eclipse.dltk.launching.DLTKLaunchableTester"
            namespace="org.eclipse.dltk.launching"
            properties="isContainer, hasProjectNature, buildpathReference"
            type="org.eclipse.core.runtime.IAdaptable"/>            
   </extension>
  <extension
        point="org.eclipse.dltk.core.buildpathContainerInitializer">
     <buildpathContainerInitializer
           class="org.eclipse.dltk.internal.launching.InterpreterContainerInitializer"
           id="org.eclipse.dltk.launching.INTERPRETER_CONTAINER"/>
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.dltk.core.internal.environment.LocalEnvironment"
           class="org.eclipse.dltk.internal.launching.execution.LocalExecEnvironmentAdapter">
        <adapter
              type="org.eclipse.dltk.core.environment.IExecutionEnvironment">
        </adapter>
     </factory>
  </extension>
  <extension point="org.eclipse.debug.core.processFactories">
     <processFactory
           class="org.eclipse.dltk.launching.process.ScriptRuntimeProcessFactory"
           id="org.eclipse.dltk.launching.scriptProcessFactory">
     </processFactory>
  </extension>
<extension point="org.eclipse.dltk.core.loggingOptions">
   <loggingOption
   		category="Launching"
        id="catchOutput"
        name="Catch &amp; save output of the launched processes">
   </loggingOption>
</extension>
<extension point="org.eclipse.emf.ecore.generated_package">
   <package
         class="org.eclipse.dltk.launching.model.LaunchingModelPackage"
         uri="http://www.eclipse.org/dltk/launching.ecore">
   </package>
</extension>
<extension point="org.eclipse.dltk.core.loggingOptions">
   <loggingOption
         category="Launching"
         id="scriptPathResolve"
         name="Script Path Resolve">
   </loggingOption>
</extension>
</plugin>
