<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.dltk.core.internal.rse.RSEEnvironment"
            class="org.eclipse.dltk.internal.ui.rse.RSEEnvironmentUIAdapter">
         <adapter
               type="org.eclipse.dltk.ui.environment.IEnvironmentUI">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.dltkElementFilters">
      <filter
            description="Hide RSE temp project"
            enabled="true"
            id="org.eclipse.dltk.internal.rse.ui.HideRemoteSystemTempFiles"
            name="Hide RSE temp project"
            pattern="RemoteSystemsTempFiles"
            targetId="org.eclipse.dltk.ui.ScriptExplorer">
      </filter>
   </extension>
	<extension point="org.eclipse.ui.decorators">
		<decorator
			adaptable="true"
			label="%rse.project.decorator"
			state="true"
			lightweight="true"
			class="org.eclipse.dltk.internal.ui.rse.RemoteProjectLabelDecorator"
			id="org.eclipse.dltk.rse.decorators.projectdecorator">
			<description>
				Appends host name to the remote projects
			</description>
			<enablement>
				<objectClass name="org.eclipse.core.resources.IProject"/>
			</enablement>
		</decorator>
	</extension>
 <extension
       point="org.eclipse.dltk.rse.core.rseConnector">
    <connector
          class="org.eclipse.dltk.internal.ui.rse.RSEConnector"></connector>
 </extension>
</plugin>
